// Variable overrides

// Fonts
$font-family-sans-serif: 'Vazir', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// spacing
$spacer: 1rem !default;
$grid-gutter-width: $spacer;
$breadcrumb-margin-bottom: $spacer;
$card-spacer-x: $spacer;

// Theme
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #dddddd !default;
$gray-500: #adb5bd !default;
$gray-600: #818a91 !default;
$gray-700: #777777 !default;
$gray-800: #55595c !default;
$gray-900: #373a3c !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge(
(
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
),
$grays
);

$blue:    #1c7cd5 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #f0ad4e !default;
$yellow:  #ffc107 !default;
$green:   #5cb85c !default;
$teal:    #20c997 !default;
$cyan:    #56c0e0 !default;

$colors: () !default;
$colors: map-merge(
(
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
),
$colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
(
  "primary":    $primary,
  "secondary":  $gray-500,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
),
$theme-colors
)

//@import "~bootstrap/scss/bootstrap";
